#main-shop{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    & .galeria { 
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        column-gap: 10px;
        align-items: center;
        justify-items: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        & .items {
            height: 455px;
            width: 300;
            display: flex;
            flex-direction: column;
            & .product-img{
                height: 400px;
                width: 300px;
            }
            & .product-name{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 300px;
                height: 55px;
                padding: 10px 10px;
                color:#000; 
                & h5{
                    font-size: 13px;
                    & a{
                        color: black;
                        text-decoration: none;
                    }
                }
                :hover a{
                    color:#bfb8ae;
                }
                .price{
                    font-size: 13px;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        .galeria{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (min-width: 1024px) {
        .galeria{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

// inicio mixin

@mixin bg ($background-size, $background-position){
    background-size: $background-size;
    background-position: $background-position;
}

#item-img1{
    background-image: url(../imagenes/item1.jpeg);
    @include bg(cover,center);

}

#item-img2{
    background-image: url(../imagenes/item2.jpeg);
    @include bg(cover,center);
}

#item-img3{
    background-image: url(../imagenes/item3.jpeg);
    @include bg(cover,center);
}

#item-img4{
    background-image: url(../imagenes/item4.jpeg);
    @include bg(cover,center);
}

#item-img5{
    background-image: url(../imagenes/item5.jpeg);
    @include bg(cover,center);
}

#item-img6{
    background-image: url(../imagenes/item6.jpeg);
    @include bg(cover,center);
}

#item-img7{
    background-image: url(../imagenes/item7.jpeg);
    @include bg(cover,center);
}

#item-img8{
    background-image: url(../imagenes/imagen1.jpeg);
    @include bg(cover,center);
}


