@import "variables";
@import "header";
@import "main";
@import "footer";
@import "shop";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

// /* estilos page about */

// #main-about p{
//     font-size: 13px;
//     height: 200px;
//     text-align: center;
//     padding: 30px 30px;
// }

// #img-taller{
//     background-image: url(/imagenes/taller1.jpeg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 90%;
//     height: 500px;
// }

// @media screen and (min-width: 768px) {

//     /* estilos page shop */

// .galeria{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     row-gap: 10px;
//     /* column-gap: 10px; */
//     align-items: center;
//     justify-items: center;
//     width: 100%;
//     /* padding-top: 10px;
//     padding-bottom: 10px; */
// }

// .items{
//     /* border: #000 2px solid; */
//     height: 455px;
//     width: 300;
//     display: flex;
//     flex-direction: column;
// } 
// }


// @media screen and (min-width: 1024px) {
//     /* estilos index */

//     article{
//         /* border: 2px solid black; */
//         height:700px;
//     }
    
//     #img-izq{
//         width: 100%;
//         height: 700px;
//         /* background-color: violet; */
//         background-image: url(/imagenes/ceramica4.jpeg);
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: 60%;
//         padding-top: 80px;
//     }
    
//     #img-der{
//         width: 100%;
//         height: 700px;
//         background-image: url(/imagenes/img-taller.jpeg);
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: cover;
//     }

//     #boton1{
//         font-size: 25px;
//         color:white;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//     }
    
//     #boton2{
//         font-size: 25px;
//         color:white;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//     }

//     #sec3 p{    
//         font-size: 16px;
//         justify-content: center;
//         margin-bottom: 0;
//     }

//     /* estilos page shop */
//     .galeria{
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//         row-gap: 10px;
//         /* column-gap: 10px; */
//         align-items: center;
//         justify-items: center;
//         width: 100%;
//         /* padding-top: 10px;
//         padding-bottom: 10px; */
//     }
    
//     .items{
//         /* border: #000 2px solid; */
//         height: 455px;
//         width: 300;
//         display: flex;
//         flex-direction: column;
//     } 

//     /* estilos page about */

//     #img-taller{
//         background-image: url(/imagenes/taller1.jpeg);
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: 90%;
//         height: 600px;
//     }

// }
