@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
.navbar {
  background-color: white !important;
  border-bottom: 2px solid #000;
  height: 80px;
}

.navbar .navbar-brand {
  font-size: 22px !important;
}

#navbarNav {
  background-color: white;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
}

#navbarNav .nav-link {
  font-size: 14px;
  color: #000 !important;
}

#navbarNav a:hover {
  color: #bfb8ae !important;
}

#sec1 #img-izq {
  width: 100%;
  height: 500px;
  background-image: url(../imagenes/ceramica4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  padding-top: 80px;
}

#sec1 #img-izq #btn1, #sec1 #img-izq #img-der #btn2, #sec1 #img-der #img-izq #btn2 {
  font-size: 16px;
}

#sec1 #img-der {
  width: 100%;
  height: 500px;
  background-image: url(../imagenes/img-taller.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sec1 #img-der #btn2 {
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  #sec1 #img-izq {
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
  }
  #sec1 #img-der {
    height: 700px;
  }
}

#btn1, #sec1 #img-izq #btn1, #sec1 #img-der #btn2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  #btn1, #sec1 #img-izq #btn1, #sec1 #img-der #btn2 {
    font-size: 25px;
  }
}

#sec2 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

#sec2 p {
  text-align: right;
  font-size: 14px;
  padding-top: 41.5px;
  padding-bottom: 41.5px;
  margin-bottom: 0px !important;
  /* padding-right: 18px; */
}

@media screen and (min-width: 1024px) {
  #sec2 p {
    font-size: 16px;
  }
}

#sec2 p a {
  text-decoration: underline;
  color: #000;
}

footer {
  height: 60px;
  font-weight: 100%;
  /* background-color:#d9d9d9; */
  border-top: #000 solid 1px;
}

footer ul li {
  font-size: 12px;
  display: inline-block;
  padding-left: 20px;
  padding-top: 23px;
}

footer ul li a {
  color: #000;
}

footer ul li a:hover {
  color: #bfb8ae;
  text-decoration: none;
}

#main-shop {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
}

#main-shop .galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-shop .galeria .items {
  height: 455px;
  width: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-shop .galeria .items .product-img {
  height: 400px;
  width: 300px;
}

#main-shop .galeria .items .product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  height: 55px;
  padding: 10px 10px;
  color: #000;
}

#main-shop .galeria .items .product-name h5 {
  font-size: 13px;
}

#main-shop .galeria .items .product-name h5 a {
  color: black;
  text-decoration: none;
}

#main-shop .galeria .items .product-name :hover a {
  color: #bfb8ae;
}

#main-shop .galeria .items .product-name .price {
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  #main-shop .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  #main-shop .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#item-img1 {
  background-image: url(../imagenes/item1.jpeg);
  background-size: cover;
  background-position: center;
}

#item-img2 {
  background-image: url(../imagenes/item2.jpeg);
  background-size: cover;
  background-position: center;
}

#item-img3 {
  background-image: url(../imagenes/item3.jpeg);
  background-size: cover;
  background-position: center;
}

#item-img4 {
  background-image: url(../imagenes/item4.jpeg);
  background-size: cover;
  background-position: center;
}

#item-img5 {
  background-image: url(../imagenes/item5.jpeg);
  background-size: cover;
  background-position: center;
}

#item-img6 {
  background-image: url(../imagenes/item6.jpeg);
  background-size: cover;
  background-position: center;
}

#item-img7 {
  background-image: url(../imagenes/item7.jpeg);
  background-size: cover;
  background-position: center;
}

#item-img8 {
  background-image: url(../imagenes/imagen1.jpeg);
  background-size: cover;
  background-position: center;
}

/* estilos form */
.form-newsletter {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-newsletter p {
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.form-newsletter .form-inline {
  color: #000;
  font-size: 14px !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  padding-top: 10px;
}

.form-newsletter .form-inline .form-control-sm {
  border-bottom: #000 solid 1px !important;
}

.form-newsletter .form-inline .btn {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  border: #000 solid 1px !important;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=estilos.css.map */